{{define "title"}}Blog{{end}}

{{define "main"}}
  <h1 class="display-3 fw-bold mb-1 text-center">Blog</h1>
<div class="d-flex flex-wrap justify-content-around align-items-center gap-4">
  {{range .Blocks}}
    <div class="card">
      <div class="card-header">
        <div id="carousel{{.ID}}" class="carousel slide w-100 h-100">
          <div class="carousel-inner w-100 h-100">
            <div class="carousel-item active">
              <img src="{{.ImageURL1}}" class="object-fit-cover" alt="image_1">
            </div>
            <div class="carousel-item">
              <img src="{{.ImageURL2}}" class="object-fit-cover" alt="image_2">
            </div>
            <div class="carousel-item">
              <img src="{{.ImageURL3}}" class="object-fit-cover" alt="image_3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{.ID}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel{{.ID}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
        <div class="card-body overflow-auto">
          <h5 class="card-title text-center">{{.Title}}</h5>
          <h6 class="card-title text-center">{{humanDate .Created}}</h6>
          <p class="card-text">{{.Description}}</p>
        </div>
    </div>
    {{end}}
</div>
{{end}}