{{define "title"}}Home{{end}}

{{define "main"}}
<div class="text-center">
  <h1 class="display-3 fw-bold mb-1">Home Page</h1>
  <p>
    This project serves as the final assignment for the
    <strong>Advanced Programming 1</strong> course at
    <strong>Astana IT University</strong>.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas, quidem ipsum suscipit earum quo? Possimus maiores, porro eligendi impedit et ea nemo fugiat autem animi facere maxime harum saepe!
  </p>
</div>
{{end}}