{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="border d-flex justify-content-around align-items-center mt-3">
  <h1><span class="fw-bold">Username: </span><%= username %></h1>
  <a href="/logout"><button class="btn text-light fw-bold">Log out</button></a>
</div>
{{end}}